.report-patient :is([dir="ltr"] table thead tr th), :is([dir="ltr"] table tfoot tr th), :is([dir="ltr"] table tbody tr td){
    text-align:center !important;
}

.report-patient .datatables table thead tr th, .datatables table tfoot tr th{
    border: 1px solid black !important;
    background-color: rgb(224 230 237 / 0.3) !important;
    --tw-text-opacity: 1;
    color: rgb(24 24 24 / var(--tw-text-opacity));
}

.report-patient .datatables table tbody tr td{
    border: 1px solid black !important;
}

.report-patient tfoot {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}