.report-insurance :is([dir="ltr"] table thead tr th),.report-insurance :is([dir="ltr"] table tfoot tr th),.report-insurance :is([dir="ltr"] table tbody tr td){
    text-align:center !important;
}

.report-insurance .datatables table thead tr th,.report-insurance .datatables table tfoot tr th{
    /* border: 1px solid black !important; */
    background-color: rgb(224 230 237 / 0.3) !important;
    --tw-text-opacity: 1;
    color: rgb(24 24 24 / var(--tw-text-opacity));
}

/* .report-insurance .datatables table tbody tr td{
    border: 1px solid black !important;
} */

/* .report-insurance tfoot {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
} */